version: '3.7'

services:
  server:
    container_name: node_server
    build:
      context: ./server
      dockerfile: Dockerfile
    image: rupakstephenxyz-server
    command: node server.js
    environment:
      NODE_ENV: production
      DB_URL: mongodb
    ports:
      - 5000:5000
    depends_on:
      db:
        condition: service_healthy
  db:
    container_name: mongodb
    image: mongodb-raspberrypi4-unofficial-r7.0.4
    restart: always
    expose: 
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo db:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s